* {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(246, 246, 246);
}

.header {
  position: relative;
  background-color: rgb(3, 52, 45);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 60px;
}

.mainHeaderContainer {
  display: flex;
  flex-basis: 70%;
  justify-content: space-between;
  align-items: center;
}

.container-title {
  width: 80%;
}

.title strong {
  color: white;
}

.title {
  color: rgb(221, 221, 221);
  font-size: 30px;
}


.container-cartTitle {
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: flex-end;
}

.container-cartTitle span {
  width: min-content;
}

#carrinho {
  width: min-content;
  cursor: pointer;
}

input#checkCart:checked + .cart{
  display: flex;
  transition: all 200ms ease;
}

.cart {
  position: absolute;
  margin-top: 65px;
  z-index: 1;
  display: none;
  flex-flow: column wrap;
  background-color: rgb(200, 224, 197);
  height: fit-content;
  width: 350px;
  padding: 10px;
  transition: all 200ms ease 0s;
  border-radius: 5pt;
}

.cart .cart__items {
  height: fit-content;
  overflow: auto;
  max-height: 500px;
}

.cart__items .cart__item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 20px;
  margin-bottom: 10px;
  border: 1px solid green;
  padding: 10px;
  height: max-content;
  font-size: 10pt;
}

.item_cart_image {
  width: 80px;
  height: 80px;
}

.divSpan {
  display: inline-flex;
  flex-direction: column;
  flex-basis: 60%;
  justify-content: space-between;
}

.divSpan > span {
  width: 100%;
}

.divSpan > span:last-child {
  font-weight: 800;
}

.empty-cart {
  width: 170px;
  height: 35px;
  margin: 0 auto;
  border: 2px solid rgb(5, 52, 219);
  background-color: rgb(249, 249, 246);
  cursor: pointer;
}

.txtPrice {
  align-self: flex-end;
  padding: 5px 10px;
}

.total-price {
  height: 30px;
}

.carousel {

}

.carousel-inner {
  height: 500px !important;
}

.carousel-item img{
  object-fit: fill !important;
  height: 500px;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 85%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.item {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  border: 2px solid rgb(234, 234, 233);
  border-radius: 5px;
  box-sizing: border-box;
}

.loading {
  font-size: large;
}

.item .item_id {
  display: none;
}

.item .item__title {
  display: flex;
  flex-grow: 1;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
}

.item .item__price {
  padding: 10px;
  font-size: 24px;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: rgb(5, 52, 219);
  border: 0;
  cursor: pointer;
  margin: 8px;
  border-radius: 3pt;
  padding: 10px;
  color: white;
}

.item .item__add:active {
  filter: brightness(0.7);
}

@media screen and (max-width: 1215px) {
  
  .carousel-inner {
    object-fit: cover !important;
    height: 35vw !important;
  }

  .carousel-item img {
    height: 35vw;
  }

  .items {
    flex-basis: 95vw;
  }
}

@media screen and (max-width: 450px) { 
  .mainHeaderContainer {
    justify-content: space-around;
    flex-basis: 100%;
  }

  .carousel-inner {
    height: 40vw !important;
  }

  .carousel-item img {
    height: 40vw;
  }

  .item {
    flex-basis: 45%;
  }

  .item .item__title {
    font-size: 0.8rem;
  }

  .item .item__price {
    padding: 10px;
    font-size: 1rem;
  }

  .cart {
    max-width: 80vw;
  }

  .divSpan > span {
    font-size: 9pt;
  }
}

.carousel-indicators {
  margin-bottom: 1px !important;
}

.carousel-indicators button {
  width: 0.5rem !important;
  height: 0.5rem !important;
  border-radius: 100%;
}
