* {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(246, 246, 246);
}

.header {
  position: relative;
  background-color: rgb(3, 52, 45);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0 10%;
  height: 60px;
}

.container-title {
  width: 80%;
}

.title strong {
  color: white;
}

.title {
  color: rgb(221, 221, 221);
  font-size: 30px;
}


.container-cartTitle {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.container-cartTitle span {
  width: min-content;
}

#carrinho {
  width: min-content;
  cursor: pointer;
}

input#checkCart:checked + .cart{
  display: flex;
  transition: all 200ms ease;
}

.cart {
  position: absolute;
  margin-top: 65px;
  display: none;
  flex-flow: column wrap;
  background-color: rgb(200, 224, 197);
  height: fit-content;
  width: 350px;
  padding: 10px;
  transition: all 200ms ease 0s;
}

.cart .cart__items {
  height: fit-content;

  overflow: auto;
  max-height: 500px;
}

.cart__items .cart__item {
  cursor: pointer;
  line-height: 20px;
  margin-bottom: 10px;
  border: 1px solid green;
  padding: 10px;
  height: max-content;
}


.empty-cart {
  width: 170px;
  height: 35px;
  margin: 0 auto;
  border: 2px solid rgb(5, 52, 219);
  background-color: rgb(249, 249, 246);
  cursor: pointer;
}

.txtPrice {
  align-self: flex-end;
  padding: 5px 10px;
}

.total-price {
  height: 30px;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.item {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  border: 2px solid rgb(234, 234, 233);
  border-radius: 5px;
  box-sizing: border-box;
}

.loading {
  font-size: large;
}

.item .item__id {
  display: none;
}

.item .item__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: rgb(5, 52, 219);
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  color: white;
}
